.aboutUs-hero {
    position: relative;
    background: url('./../img/breadcrum.png');
    /* <-- put your image here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 110px !important;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.breadcrumb-custom {
    color: #d4c5a9;
    font-size: 16px;
}

.breadcrumb-custom a {
    color: #d4c5a9;
    text-decoration: none;
}

.breadcrumb-custom a:hover {
    color: #fff;
}


/* ===== RESPONSIVE ===== */

@media (max-width: 992px) {
    .hero-content h1 {
        font-size: 42px;
    }

    .contact-hero {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .hero-content h1 {
        font-size: 32px;
    }

    .contact-hero {
        height: 250px;
    }

    .breadcrumb-custom {
        font-size: 14px;
    }
}



/*================== ABOUT US SECTION (RENAMED) ==================*/

.about2-section {
    background: linear-gradient(#2073f0ad, #000864ad) !important;
    padding: 100px 0;
    color: #fff;
}

/* LEFT IMAGE CIRCLE */
.about2-circle {
    width: 420px;
    height: 520px;
    border-radius: 50% 50% 48% 48%;
    overflow: hidden;
    position: relative;
    border: 5px solid rgba(255, 255, 255, 0.705) !important;
}

.about2-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* EXPERIENCE BADGE */
.about2-badge {
    background: #a9a686;
    width: 180px;
    padding: 18px;
    border-radius: 18px;
    position: absolute;
    top: 20px;
    right: 80px;
}

.about2-badge h6 {
    font-size: 14px;
}

/* CHEF SMALL */
.about2-chef {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    bottom: 20px;
    left: 10px;
    overflow: hidden;
}

.about2-chef img {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

/* TEXT */
.about2-sub {
    color: white;
    letter-spacing: 2px;
    font-size: 13px;
}

.about2-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
}

.about2-title span {
    color: #a9a686;
}

/* LIST */
.about2-list p {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}

.about2-list i {
    color: #a9a686;
}

/* BUTTONS */
.about2-btn-main {
    background: #a9a686;
    border: none;
    padding: 12px 26px;
    border-radius: 30px;
}

.about2-btn-light {
    border-radius: 30px;
    padding: 12px 26px;
}

/* MOBILE */
@media(max-width:991px) {

    .about2-circle {
        width: 320px;
        height: 400px;
    }

    .about2-title {
        font-size: 32px;
    }
}


/* =================FEATURES SECTION ===============*/

.feature-section {
    background: #0e110c;
    padding: 60px 0;
}

.feature-box {
    display: flex;
    gap: 18px;
    align-items: flex-start;
}

.feature-box .icon {
    width: 70px;
    height: 70px;
    border: 1px solid #bfa67a;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #bfa67a;
    font-size: 26px;
}

.feature-box h5 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 6px;
}

.feature-box p {
    color: #9c9c9c;
    font-size: 14px;
    max-width: 230px;
}

/* RESPONSIVE */

@media(max-width:992px) {

    .feature-box {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .feature-box p {
        max-width: 100%;
    }

}




/* =====================OUR MISSION AND VISSION ================ */


/* ===== SECTION ===== */

.approach-section {
    padding: 80px 0;
    color: #fff;
    background-color: #006F91 !important;
}

/* HEADING */

.sub {
    color: #bfa67a;
    font-size: 13px;
    letter-spacing: 1px;
}

.main-title {
    font-size: 44px;
    font-weight: 700;
}

.main-title span {
    color: #bfa67a;
}

/* ===== TABS ===== */

.approach-tabs {
    background: #222;
    padding: 8px 15px;
    border-radius: 40px;
    display: inline-flex;
    gap: 10px;
}

.approach-tabs .nav-link {
    color: #fff;
    border-radius: 30px;
    padding: 8px 20px;
}

.approach-tabs .nav-link.active {
    background: #bfa67a;
    color: #000;
}

/* ===== CONTENT ===== */

.content-title {
    font-size: 32px;
    font-weight: 700;
}

.text {
    color: #b0b0b0;
    margin: 15px 0;
}

.points li {
    color: #b0b0b0;
    margin-bottom: 8px;
}

/* IMAGE */

.img-box {
    border-radius: 20px;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

/* RESPONSIVE */

@media(max-width:992px) {

    .main-title {
        font-size: 32px;
    }

    .content-title {
        font-size: 26px;
    }

    .img-box img {
        height: 300px;
    }

}




/* =================OUR TEAM =============== */


.team-section {
    padding: 80px 0;
    color: #fff;
    background: linear-gradient(#006F91, #ffff);
}

.sub {
    color: #bfa67a;
    font-size: 13px;
}

.main-title {
    font-size: 42px;
    font-weight: 700;
}

.main-title span {
    color: #bfa67a;
}

/* ===== CARD ===== */

.team-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.team-card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

/* INFO */

.team-info {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 2;
}

.team-info h5 {
    margin: 0;
}

.team-info p {
    color: #ccc;
    font-size: 14px;
}

/* OVERLAY */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .6);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: .4s;
}

.team-card:hover .overlay {
    opacity: 1;
}

/* VIEW BUTTON */

.view-btn {
    background: #222;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 30px;
    margin-bottom: 15px;
}

/* SOCIAL */

.social {
    display: flex;
    gap: 10px;
}

.social i {
    border: 1px solid #bfa67a;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

/* BOTTOM */

.bottom-text {
    color: #ccc;
}

.bottom-text a {
    color: #bfa67a;
}

/* ===== RESPONSIVE ===== */

@media(max-width:992px) {

    .main-title {
        font-size: 32px;
    }

    .team-card img {
        height: 320px;
    }

}




/* =================FAQ SECTION ========== */


.faq-section {
    padding: 80px 0;
    color: #fff;
    background-color: #8cbecd3f;
}

/* LEFT */

.sub {
    color: #bfa67a;
    font-size: 13px;
    letter-spacing: 1px;
}

.faq-title {
    font-size: 42px;
    font-weight: 700;
}

.faq-title span {
    color: #bfa67a;
}

.faq-text {
    color: #b0b0b0;
    margin: 15px 0;
}

.faq-btn {
    background: #bfa67a;
    color: #000;
    padding: 12px 22px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
}

/* ===== ACCORDION ===== */

.accordion-item {
    background: transparent;
    border: none;
    border-bottom: 1px solid #2a2a2a;
}

.accordion-button {
    background: transparent !important;
    color: #fff !important;
    font-weight: 600;
    box-shadow: none !important;
}

.accordion-button::after {
    filter: invert(1);
}

.accordion-body {
    color: #b0b0b0;
}

/* ACTIVE */

.accordion-button:not(.collapsed) {
    color: #bfa67a !important;
}

/* ===== RESPONSIVE ===== */

@media(max-width:992px) {

    .faq-title {
        font-size: 32px;
    }

}