.Gallery-hero {
    position: relative;
    background: url('./../img/breadcrum.png');
    /* <-- put your image here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 110px !important;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.breadcrumb-custom {
    color: #d4c5a9;
    font-size: 16px;
}

.breadcrumb-custom a {
    color: #d4c5a9;
    text-decoration: none;
}

.breadcrumb-custom a:hover {
    color: #fff;
}


/* ===== RESPONSIVE ===== */

@media (max-width: 992px) {
    .hero-content h1 {
        font-size: 42px;
    }

    .contact-hero {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .hero-content h1 {
        font-size: 32px;
    }

    .contact-hero {
        height: 250px;
    }

    .breadcrumb-custom {
        font-size: 14px;
    }
}

