.Gallery-hero {
    position: relative;
    background: url('./../img/breadcrum.png');
    /* <-- put your image here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 110px !important;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.breadcrumb-custom {
    color: #d4c5a9;
    font-size: 16px;
}

.breadcrumb-custom a {
    color: #d4c5a9;
    text-decoration: none;
}

.breadcrumb-custom a:hover {
    color: #fff;
}


/* ===== RESPONSIVE ===== */

@media (max-width: 992px) {
    .hero-content h1 {
        font-size: 42px;
    }

    .contact-hero {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .hero-content h1 {
        font-size: 32px;
    }

    .contact-hero {
        height: 250px;
    }

    .breadcrumb-custom {
        font-size: 14px;
    }
}





/* ===================gallery section ============= */

/* SECTION */

.unique-gallery {
    padding: 70px 0;
}

/* CARD */

.u-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.u-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    transition: .4s;
}

.u-card.big img {
    height: 320px;
}

/* DIAGONAL OVERLAY */

.u-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(45deg,
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .2));

    display: flex;
    align-items: flex-end;

    padding: 15px;
    opacity: 0;
    transition: .4s;
}

.u-overlay h5 {
    color: #fff;
}

/* HOVER */

.u-card:hover img {
    transform: scale(1.07);
}

.u-card:hover .u-overlay {
    opacity: 1;
}

/* MODAL */

.modal-content {
    background: none;
    border: none;
}

.carousel img {
    border-radius: 18px;
}

/* RESPONSIVE */

@media(max-width:768px) {

    .u-card img {
        height: 200px;
    }

    .u-card.big img {
        height: 240px;
    }

}