.tequila-hero {
    position: relative;
    background: url('./../img/taquila-breadcrum.png');
    /* <-- put your image here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 110px !important;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.breadcrumb-custom {
    color: #d4c5a9;
    font-size: 16px;
}

.breadcrumb-custom a {
    color: #d4c5a9;
    text-decoration: none;
}

.breadcrumb-custom a:hover {
    color: #fff;
}


/* ===== RESPONSIVE ===== */

@media (max-width: 992px) {
    .hero-content h1 {
        font-size: 42px;
    }

    .contact-hero {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .hero-content h1 {
        font-size: 32px;
    }

    .contact-hero {
        height: 250px;
    }

    .breadcrumb-custom {
        font-size: 14px;
    }
}




/* =====================tequila area ================ */

/* HEADER */

.sub {
    color: #e07a3f;
    font-size: 13px;
}

.title {
    font-size: 38px;
}

.text {
    color: #666;
}

/* FILTER */

.filter-btn {
    border: 1px solid #ddd;
    background: #fff;
    padding: 6px 18px;
    margin: 5px;
}

.filter-btn.active {
    background: #e07a3f;
    color: #fff;
}

/* CARD */

.wine-card {
    border: 1px solid #eee;
    padding: 15px;
    text-align: center;
    position: relative;
    background-color: #006F91;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 16px;
}

.wine-card img {
    height: 220px;
    object-fit: contain;
}

/* BADGE */

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #e07a3f;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}

/* HOVER */

.hover {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 8px;

    opacity: 0;
    transition: .3s;
}

.hover i {
    border: 1px solid #ddd;
    padding: 8px;
    background: #fff;
}

.wine-card:hover .hover {
    opacity: 1;
}

/* TEXT */

.cat {
    color: #e07a3f;
    font-size: 13px;
    margin-top: 10px;
}

.star {
    color: gold;
}

.price {
    font-weight: 600;
}